<!DOCTYPE html>
<html ng-app = 'tv'>
<head>
  <title>TvMachine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
</head>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>




<body ng-controller = 'SeasonsCtrl as seasons' class="teal lighten-5" ng-class="{'nyan': nyan}">


<%= yield %>

</body>

</html>
